[Unit]
Description='Monitor interfaces and sources of a Firewalld zone'

Wants=network.target
After=network.target

Requisite=firewalld.service
After=firewalld.service

ConditionUser=0

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=%h/bin/zone_guard.py %i
User=root
